/* Global form field styles for all forms */
input,
select,
textarea {
    border-radius: 5px !important;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.16) !important;
    padding: 5px 5px 5px 15px !important;
    font-size: 14px !important;
}
